@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Prompt:ital,wght@0,300;0,400;1,400&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #eee4a2;
    color: #423f03;
    font-family: 'Prompt', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */

header {
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: inherit;
}

h1 {
    text-align: center;
    /* Top padding bigger because of Iphone notches */
    padding: 20px 10px 5px 10px;
    font-size: 220%;
    font-family: 'Montserrat', sans-serif;
}

h2, h3 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #c3ba7a;
    display: flex;
    justify-content: space-around;
    padding: 5px 10px;
}

header a {
    text-transform: uppercase;
}

.active {
    border-bottom: 2px solid #423f03;
}

 /* Main content formating */

 /* Main content */
 main {
    flex: 1 0 auto;
    padding-top: 102px;
    display: flex;
    direction: column;
 }

/* Hero */

 #hero {
    height: 500px;
    width: 100%;
    background: url("../images/hero/hero-image.webp") no-repeat 70% center/cover;
    position: relative;
 }

 #hero-text {
    position: absolute;
    background-color: #c3ba7abf;
    bottom: 50px;
    right: 20px;
    max-width: 80vw;
    color: 423f03;
    padding: 20px 10px;
    text-align: right;
 }

 #hero-text > h2 {
    margin-bottom: 5px;
 }

 /* Footer formating */
 #soc-netw {
    background-color: #c3ba7a;
    padding: 2px 5px;
    display: flex;
    justify-content: space-around;
    font-size: 150%;
 }

 #copyright {
    text-align: center;
    color: #c3ba7a;
    font-size: 75%;
 }