@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Prompt:ital,wght@0,300;0,400;1,400&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #eee4a2;
    color: #423f03;
    font-family: 'Prompt', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    width: 80vw;
    box-align: center;
    max-width: 500px;
}

th,
td {
    padding: 3px;
    text-align: center;
}

img {
    box-shadow: 0 0 10px #423f03;
    border-radius: 20px;
}

/* Header */

header {
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: inherit;
}

h1 {
    padding: 20px 10px 5px 10px;
    font-size: 220%;
}

h2,
h3 {
    text-transform: uppercase;
    padding: 5px 0;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

nav {
    background-color: #c3ba7a;
    display: flex;
    justify-content: space-around;
    padding: 5px 10px;
}

header a {
    text-transform: uppercase;
}

.active {
    border-bottom: 2px solid #423f03;
}

#logo {
    max-width: 300px;
}

/* Main content formating */

/* Main content */
main {
    flex: 1 0 auto;
    padding-top: 102px;
    display: flex;
    flex-direction: column;
}

/* Hero */

#hero {
    height: 500px;
    width: 100%;
    background: url("../images/hero/hero-image.webp") no-repeat 70% center/cover;
    position: relative;
}

#hero-text {
    position: absolute;
    background-color: #c3ba7abf;
    bottom: 50px;
    right: 20px;
    max-width: 400px;
    color: 423f03;
    padding: 20px 10px;
}

#hero-text>h2,
#hero-text>p {
    text-align: right;
}

#timetable {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* About */

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 750px;
}

#about img {
    width: 80vw;
    height: 80vw;
    max-width: 300px;
    max-height: 300px;
}

#about p {
    text-align: justify;
    margin: 0 10% 20px 10%;
}

.hidden-header {
    display:none;
}

/* Sign up form */

#signup {
    background: url("../images/signup-bg/signup-bg.webp") no-repeat center center/cover;
    flex-grow: 1;
    padding: 10vw 10%;
    display: flex;
    flex-direction: column;
}


#signup-form {
    background-color: #c3ba7abf;
    max-width: 500px;
    padding: 10%;
}

.text-input {
    width: 100%;
    max-width: 400px;
    height: 25px;
    border-radius: 3px;
    background-color: transparent;
    color:#423f03;
}

#signup-button {
    padding: 10px 20px;
    background-color: #423f03;
    color: #eee4a2;
    border-radius: 5px;
    margin-top: 10px;
}

/* Thank You page */

#thanks {
    background: url("../images/thank-you-bg/thanks.webp") no-repeat 45% center/cover;
    flex-grow: 1;
}

/* Gallery */

#gallery {
    padding: 10vw 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#menu-pics img {
    width: 80vw;
    max-width: 250px;
}

/* Recipe */

#recip-content img {
    width: 80vw;
    height: 80vw;
    max-width: 300px;
    max-height: 300px;
}

#recipe {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    align-items: center;
}

#recip-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ingr-list {
    margin-left: 30px;
}

#instructions p {
    text-align: justify;
}

#prep-time p {
    text-align: center;
}

#recip-content h3 {
    margin-top: 10px;
}

#recipe h2 {
    margin-bottom: 20px;
}

#ingr-and-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer formating */
#soc-netw {
    background-color: #c3ba7a;
    padding: 2px 5px;
    display: flex;
    justify-content: space-around;
    font-size: 150%;
}

#copyright {
    text-align: center;
    color: #c3ba7a;
    font-size: 75%;
}

@media screen and (min-width: 768px) {
    h1 {
        text-align: left;
        margin-left: 20px;
    }

    nav {
        display: flex;
        justify-content: flex-end;
    }

    nav a {
        margin-left: 50px;
    }

    #about {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .about-content {
        flex:1;
    }

    .about-content img {
        margin: 20px 0;
    }

    #signup-form {
        padding: 60px;
    }

}

@media screen and (min-width: 950px) {
    #copyright a:hover {
        color: #423f03;
    }

    nav a:hover {
        text-shadow: 0 0 3px #423f03;
    }

    #gallery {
        column-count: 3;
    }

    #ingr-and-photo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #instructions {
        max-width: 800px;
    }

    #ingr-and-photo h3 {
        margin: 0 0 10px 30px;
        text-align: left;
    }
}

@media screen and (min-width: 1200px) {
    #gallery {
        column-count: 4;
    }
}